body {
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-family: Verdana,Arial,"メイリオ",Meiryo,"ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
}

h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: inherit;
}

input.span-like {
-webkit-appearance: normal;
display: inline;
margin: 0;
padding: 0;
border: none 0 inherit;
background-color: inherit;
text-transform: inherit;
text-indent: inherit;
text-shadow: inherit;
}

/* highlighit on focus */
input, textarea, div[contenteditable] {
    transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid transparent;
}
input, textarea {
    border-style: solid rgba(0,0,0,0.2);
}

:focus {
    outline:none;
    box-shadow: 0 0 8px rgba(31,64,255,0.8);
    -webkit-box-shadow: 0 0 8px rgba(31,64,255,0.8); 
    -moz-box-shadow: 0 0 8px rgba(31,64,255,0.8);
}

input:focus, textarea:focus, div[contenteditable]:focus {
    border:1px solid rgba(31,64,255, 0.5); 
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFFFC;
}

#storyboard-main {
    margin: 0;
    padding: 0px 0 0 0;
    overflow: visible;
    height: 100%;
    max-height:100%;
}

body > #storyboard-main {
    height: auto;
}

#storyboard-menu {
    position: static;
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
}
#storyboard-menu .banner {
    float: right;
    margin-right: 8px;
}

/******************************/
#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
#header {
    /*
    */
    height: 24px;
    padding: 2px 8px 2px 8px;
    color: #EEE;
    background-color: #333;
    z-index: 100;
}

#header a.button {
    position: relative;
    top: 3px;
}
#header a.button img {
    opacity: 0.8;
}
#header a.button:hover img {
    opacity: 1.0;
}

#header span.project-name-container {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 240px;
    border-radius: 3px;
    padding: 2px 4px;
    line-height: 16px;
    background-color:#FFFFFF;
    color: #000000;
    font-weight: bold;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#header .app-title {
    font-size: 20px;
    font-family: serif;
}


/* generic cards */
.index-card {
    display: inline-block;
    border: 1px #888 solid;
    border-radius: 6px;
    color: #000000;
    background-color: #FFFFFF;
    width: 320px;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
}

/* scene */
#scene-navi {
    position:relative;
    display:block;
    padding: 0 0 4px 0;
}

#scene-navi div.scene-container{
    position: relative;
    display: block;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: dashed 1px #CCC;
}

#scene-navi div.scene-container.ghost {
    border-style: dotted;
}

#scene-navi div.scene-header {
    position: relative;
    height: 24px;
    padding: 2px 4px 2px 4px;
}

#scene-navi a.scene-select-button {
    position: absolute;
    left: 4px;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 1px;
    background-color: white;
}

#scene-navi span.scene-title {
    text-shadow: 1px 1px #AAA;
    margin-left: 22px;
}

#scene-navi a.scene-edit-button {
    position: absolute;
    right: 4px;
    top: 2px;
}

#scene-navi a.scene-select-button > img.unchecked-image {
    display:inline;
}
#scene-navi a.scene-select-button > img.checked-image {
    display:none;
}
#scene-navi a.scene-select-button.checked > img.unchecked-image {
    display:none;
}
#scene-navi a.scene-select-button.checked > img.checked-image {
    display:inline;
}

/*-- scene state */
#scene-navi div.scene-container.selected div.scene-header {
    background-color: #F0F0E0;
}

#scene-navi div.scene-consequence,
#scene-navi div.issue-group {
    display: inline-block;
    float: right;
    min-width: 320px;
    width: 320px;
}
#scene-navi div.issue-group ul {
    margin: 0 8px 0 20px;
    padding: 0;
}

#scene-navi .scene-remarks {
    display: inline-block;
    float: right;
    margin-right: 20px;
    padding: 4px;
    min-width: 320px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    overflow: visible;
    white-space: pre-wrap;
}
#scene-navi .scene-events {
    display: block;
    clear: both;
}

/* scene editor */
#scene-edit {
    position: relative;
    display: block;
    margin-top: 32px;
    padding: 40px 8px 0 8px;
}

#scene-edit .scene-consequence-edit,
#scene-edit .scene-remarks-edit {
    display:block;
    min-height: 3em;
}

#scene-edit .issue-content-edit {
}

/* --issues */
hr.scene-body-separator {
    margin-top: 12px;
}

li.issue-container {
}
input.issue-content:empty {
  content: 'input new issue'
}

/* annotation */
div.annotation-container {
    position: absolute;
    color: red;
    background-color: #FFC;
    min-width: 20px;
    min-height: 20px;
}

/*****************************************************/
/* dashboard */
#dashboard-main {
    padding: 0 8px 8px 8px;
}

/* gadget */
.gadget {
    display: inline-block;
    margin: 0;
    padding: 8px;
    border: solid 1px #CCC;
    border-radius: 18px 2px 2px 2px;
}
.gadget>.gadget-header {
    border: none 0;
    padding: 4px;
}
.gadget>.gadget-body {
    min-height: 8px;
    padding: 4px;
}

/* gadet: project summary */
.project-summary-project-name {
    font-size: 24px;
}

a[href] .project-summary-project-name {
    text-decoration: underline;
}

/*****************************************************/
/* notepad */
.notepad-widget {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #420;
    z-index: 1000;
}

.notepdad-widget-minimized {
    max-height: 20px;
    height:20px;
    visibility: hidden;
}
.notepdad-widget-minimized:hover {
    visibility: visible;
}

