body {
    margin: 0;
    padding: 0;
    line-height: 160%;
    font-family: Verdana,Arial,"メイリオ",Meiryo,"ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
}

h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: inherit;
}

*[contenteditable] a[href] {
    color: blue;
    text-decoration: underline;
}

/* highlighit on focus */
input, textarea, button, a[href], *[contenteditable] {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    transition: all 0.10s ease-in-out;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: solid 1px transparent;
}

input, textarea {
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
}

*[contenteditable] {
    border-style: none;
}

:focus {
    outline:none;
    -webkit-box-shadow: 0 0 8px rgba(255,127,31,0.8); 
    -moz-box-shadow: 0 0 8px rgba(255,127,31,0.8); 
    box-shadow: 0 0 8px rgba(255,127,31,0.8); 
}

input:focus, textarea:focus {
    border:1px solid rgba(255,127,31,0.5); 
}

*[contenteditable]:focus:not(:empty) {
    outline:none 0 transparent;;
    border: none 0 transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* end of highlight on focus*/

html, body {
    height: 100%;
}

body {
    background-color: #FFFFFC;
}

#storyboard-main {
    margin: 60px 0 0 0;
    padding: 0;
    overflow: visible;
}

/******************************/
#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #EEE;
    background-color: #333;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toolbar a.button img {
    opacity: 0.8;
}
#toolbar a.button:hover img {
    opacity: 1.0;
}
#toolbar a.button.button-disabled {
    opacity: 0.25;
}

#header {
    height: 28px;
    padding: 2px 8px 2px 8px;
}

#header a.button {
    position: relative;
    top: 3px;
}

#header span.project-name-container {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 240px;
    border-radius: 3px;
    padding: 2px 4px;
    line-height: 16px;
    background-color:#FFFFFF;
    color: #000000;
    font-weight: bold;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#header .app-title {
    font-size: 20px;
    font-family: serif;
}

#storyboard-menu {
    position: static;
    display: block;
    font-weight: bold;
}

#storyboard-menu .banner {
    position: absolute;
    top: auto;
    right: 4px;
}


/* generic cards */
.index-card {
    display: inline-block;
    border: 1px #888 solid;
    border-radius: 6px;
    color: #000000;
    background-color: #FFFFFF;
    width: 320px;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
}

/*************************************************/
/* project home */
#project-home-main {
    padding: 36px 8px 8px 8px;
}

#project-home-main .project-scene-list,
#project-home-main .project-issue-list {
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    -ms-columns: 3 auto;
    columns: 3 auto;
}

#project-home-main h3 {
    font-size: 24px;
}

#project-home-main .project-scene-list .project-scene-list-item:before,
#project-home-main .project-issue-list .project-issue-list-item:before {
    display: inline-block;
    position: absolute;
    left: 0;
}

#project-home-main .project-scene-list .project-scene-list-item,
#project-home-main .project-issue-list .project-issue-list-item {
    position: relative;
    break-inside: avoid;
    min-width: 1em;
    line-height: 150%;
    min-height: 1.5em; /* avoid broken when no content!*/
}

#project-home-main .project-scene-list {
    counter-reset: project-scene;
}

#project-home-main .project-scene-list .project-scene-list-item:before {
    content: '#' counter(project-scene) '.';
}

#project-home-main .project-scene-list .project-scene-list-item {
    counter-increment: project-scene;
    padding-left: 3em;
}


#project-home-main .project-issue-list {
    counter-reset: project-issue;
}

#project-home-main .project-issue-list .project-issue-list-item:before {
    content: counter(project-issue) '.';
}

#project-home-main .project-issue-list .project-issue-list-item {
    counter-increment: project-issue;
    padding-left: 2em;
}


/*************************************************/
/* storyboard */
/* scene */
#scene-navi {
    position:relative;
    display:block;
    padding: 0 0 4px 0;
    
    counter-reset: scene-navi-scene;
}

#scene-navi div.scene-container{
    position: relative;
    display: block;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: dashed 1px #CCC;
}

#scene-navi div.scene-container.ghost {
    border-style: dotted;
}

#scene-navi div.scene-header {
    position: relative;
    height: 24px;
    padding: 2px 4px 2px 4px;
    margin-bottom: 0.25em;
    vertical-align: text-top;
}

#scene-navi div.scene-header a.scene-select-button {
    margin-right: 4px;
}

#scene-navi div.scene-header img.scene-icon {
    display: inline;
}

#scene-navi .scene-title-edit:before {
    content: '#' counter(scene-navi-scene) '.';
    display:inline-block;
    width: 2.25em;
    margin-right: 0.25em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    color: #320;
}

#scene-navi .scene-title-edit {
    counter-increment: scene-navi-scene;
    text-shadow: 1px 1px #AAA;
}

#scene-navi a.scene-edit-button {
    position: absolute;
    right: 4px;
    top: 2px;
}

#scene-navi a.scene-select-button > img.unchecked-image {
    display:inline;
}
#scene-navi a.scene-select-button > img.checked-image {
    display:none;
}
#scene-navi a.scene-select-button.checked > img.unchecked-image {
    display:none;
}
#scene-navi a.scene-select-button.checked > img.checked-image {
    display:inline;
}

#scene-navi div.scene-container.selected {
    background-color: #F0EDE7;
}
#scene-navi div.scene-container.selected div.scene-header {
    background-color: #DAD4CA;
}

#scene-navi .scene-title-edit {
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

#scene-navi .scene-row {
    margin-left: 16px;
    display: -webkit-box;
    display: -moz-box;
}

#scene-navi .scene-events-edit {
    list-style: url(/images/black/cog_icon&16.png);
    min-width: 240px;
    width: 320px;
    margin: 0; /* cancel default to <ul>*/
    min-height: 3em;
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

#scene-navi .scene-consequence-edit {
    list-style: url(/images/black/flag_2_icon&16.png);
    margin: 0; /* cancel default to <ul>*/
    margin-left: 12px;
    min-width: 228px;
    width: 308px;
    min-height: 3em;
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

#scene-navi div.issue-list {
    list-style-image:url(/images/black/checkmark_icon&16.png);
    min-width: 140px;
    width: 180px;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex:  1;
}
#scene-navi div.issue-list ul {
    margin: 0 8px 0 20px;
    padding: 0;
}

#scene-navi div.issue-list >ul>li.issue-container {
}

/* scene editor */
#scene-edit {
    position: relative;
    display: block;
    margin-top: 32px;
    padding: 40px 8px 0 8px;
}

#scene-edit .scene-title-edit {
    font-size: 24px;
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

#scene-edit .scene-consequence-edit {
    list-style: url(/images/black/flag_2_icon&16.png);
}

#scene-edit .scene-events-edit {
    list-style: url(/images/black/cog_icon&16.png);
}

#scene-edit .scene-consequence-edit,
#scene-edit .scene-events-edit,
#scene-edit .scene-remarks-edit {
    display: block;
    min-height: 3em;
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}

#scene-edit .issue-content-edit {
    min-height: 1em;
    min-width: 10em;
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write;
    user-modify: read-write;
}
#scene-edit .issue-content-edit:empty:before {
    color: #AAA;
    font-style: italic;
    content: 'Type here';
}

hr.scene-body-separator {
    margin-top: 12px;
}

/*****************************************************/
/* dashboard */
#dashboard-main {
    padding: 0 8px 8px 8px;
}

/* gadget */
.gadget {
    display: inline-block;
    margin: 0;
    padding: 8px;
    border: solid 1px #CCC;
    border-radius: 18px 2px 2px 2px;
}
.gadget>.gadget-header {
    border: none 0;
    padding: 4px;
}
.gadget>.gadget-body {
    min-height: 8px;
    padding: 4px;
}

/* gadet: project summary */
.project-summary-project-name {
    font-size: 24px;
}

a[href] .project-summary-project-name {
    text-decoration: underline;
}

/*****************************************************/
/* notepad */
.notepad-widget {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #420;
    z-index: 100;
}

.notepdad-widget-minimized {
    max-height: 20px;
    height:20px;
    visibility: hidden;
}
.notepdad-widget-minimized:hover {
    visibility: visible;
}

